@model GreatShop.Models.ViewModels.DetailsVM
<head>

    <style>


        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
            border: hidden;
        }
    </style>
</head>
<div class="">
    <form method="post">
        <!--To access ID in post method-->
        <input asp-for="@Model.Product.Id" hidden />
        <div class="row">
            <div class="column">
                <img src="@WebConstants.ImagePath@Model.Product.Image" height="400" />
            </div>
            <div class="column container backgroundWhite pt-4 border-white">
                <div class="card" style="border:hidden;">

                    <h1 class="text-dark" style="align-content:end;">@Model.Product.Name</h1>

                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">

                                <div class="col-12 col-lg-8">
                                    <div class="row pl-3">

                                        <div class="col-12">
                                            <span class="badge p-3 border" style="background-color:lightblue">@Model.Product.Category.Name</span>

                                            <h3 class="text-success"></h3>

                                            <p class="text-secondary">@Html.Raw(Model.Product.Description) </p>

                                            <h1 class="text-dark"> @((Model.Product.Cost).ToString("c"))</h1>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer "  style="border:hidden; background-color:white;">
                        <div class="row">
                            <div class="col-12 col-md-6 pb-1 " style="border:hidden;">
                                <a asp-action="Index" class="btn  btn-outline-success btn-square  form-control shadow-lg btn-lg" style="height:50px;">Back to List</a>
                            </div>


                            <div class="col-12 col-md-6 ">
                                @if (Model.ExistInCart)
                                {
                                    <a asp-action="RemoveFromCart" asp-route-id="@Model.Product.Id" class="btn btn-warning  shadow-lg btn-lg" style="height:50px;">Remove from Cart</a>
                                }
                                else
                                {


                                    <button type="submit" asp-route-id="@Model.Product.Id" class="btn btn-outline-info form-control shadow-lg btn-lg " style="height:50px;">Add to Cart</button>
                                }
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
